<!-- screw grid lmao -->
<a style="width: 288px;" class="dim dib no-underline black mr4-ns mb5" href="{{ include.project.url }}">
	<div class="mb3 cover bg-near-white"
		style="height: 360px;
			background-image: url('{{ include.project.thumb }}');
			background-position: center; 
			">
	</div>

	<p class="lh-copy underline">
		{{ include.project.title }}
	</p>

	<div class="mt3">
		{% assign tags = include.project.tags | slice:0, 3 %}
		{% include tag-collection.html tags=tags %}
		
	</div>
</a>

