<a 
	class="db no-underline black mb5 mb6-ns relative p-card"
	href="{{ include.project.url }}">
		<div class='card-accent flex items-center' style='z-index: 100'>
			<div class='center o-0 f2-ns f3'>View project</div>
		</div>
		<div class="mb3 cover bg-near-white h2 h3-ns"
			style="
				background-image: url('{{ include.project.thumb }}');
				background-position: center;
				filter: saturate(0)
				">
		</div>

		<div class="lh-title b mb1">
			{{ include.project.title }}
		</div>
		<div>
			{{ include.project.role }}
		</div>
</a>

