@import "../node_modules/tachyons-sass/tachyons.scss";

h1, h3, h4, h5, h6 {
	margin: 0
}

p, li { @extend .lh-copy, .mb1 };

h2 {
	@extend .f2-ns, .f3, .mt5, .mb3, .normal;
};

.mw1440 {
	max-width: 1440px;
}

a {
	text-decoration-color: $blue;
	color: inherit;
}

.hover-blue:hover {
	text-decoration-color: $blue;
	color: inherit;
	transition: .1s
}

#case-study {
	p { @extend .ma0, .mb3, .mw7, .center, .f4-ns };
	li { @extend .mw7, .center, .f4-ns };
	h2 { @extend .mw7, .center };
}