@import "../node_modules/tachyons-sass/tachyons.scss";

html { scroll-behavior: smooth }

#projects {
	margin-top: -$spacing-extra-large;
}

p, li { @extend .lh-copy, .mb1 };

h2 { @extend .f2-ns, .f3, .mt5, .mb3, .normal, .lh-title };

h3 { @extend .mb2, .mt4, .lh-title };

blockquote p {
	@extend .serif, .i, .f4, .f3-ns, .bl, .bw2, .pl3
};

blockquote {
	@extend .mw7, .center
}

.mw1440 { max-width: 1440px; }

a {
	color: inherit;
	text-decoration: none;
	background-image: linear-gradient(to right, $yellow 75%, $yellow 75%);
	background-position: 0 0.75em;
	background-repeat: repeat-x;
	background-size: 1px 1em;
}

a:hover {
	background-size: 1px 1.25em;
	background-position: 0;
	transition: .25s;
	background-image: linear-gradient(to right, $yellow 75%, $yellow 75%);
	@extend .black;
}

// case study card link
a.p-card, a.p-card:hover { background: none; }

.card-accent { @extend .absolute, .top-0, .bg-yellow, .h4, .w-100 };

a:hover .card-accent {
	transition: .5s;
	@extend .h5
};

a:hover .card-accent div {
	transition: .5s;
	@extend .o-100
};

a:hover div:not(:first-child) {
	transition: .5s;
	@extend .o-40
};

// end case study card link

#case-study {
	p { @extend .ma0, .mb3, .mw7, .center, .f4-ns };
	li { @extend .mw7, .center, .f4-ns };
	h2 { @extend .mw7, .center };
	h3 { @extend .mw7, .center };


};

#about {
	p { @extend .f4-ns, .ma0, .mb3 };
	p, h2, h3 { @extend .mw7, .center };
}

