<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kevin Chan | {{ page.title }}</title>
    {% include head-meta-tags.html %}
  </head>
  <body id="case-study" class='inter center pa5-ns pa4 mw1440'>
    {% include navigation.html %}

    <div class="f1-l f2-m f3 lh-title mw8">{{ page.question }}</div>
    
    <div class='mt3 mb5 lh-copy'>
      Tags:
      {% for item in page.tags %}
        <span>{{ item }}</span>{% if item != page.tags.last %}, {% endif %}
      {% endfor %}
    </div>

    <div class="mb3 cover bg-near-white h2 h3-ns"
			style="
				background-image: url('{{ page.thumb }}');
				background-position: center;
				">
		</div>
    
    <main>
      {{ content }}
    </main>

    <div class='mw7 center mt5'>
      <a class='dib mr3'href='/'>← Return home</a>
      <a class='dib
        {% if page.next.url %}
        mr3
        {% endif %}
        'href='#'>↑ Back to top</a>
    </div>
    {% include footer.html %}
  </body>
</html>